/.build/
/_build/
/Build
/Build.bat
/blib
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/Slack-RTM-Bot-*
/.idea/
/sample/

.DS_Store
sample.pl
